@use "../../_styles/common"

:root
  --btn-border-radiud: 4px
  --btn-default-color: #f5f5f5
  --btn-primary-color: var(--color-primary)
  --btn-success-color: var(--color-success)
  --btn-danger-color: var(--color-danger)
  --btn-warning-color: var(--color-warning)

  --btn-disabled-color: var(--disabled-color)
  --btn-disabled-text-color: var(--disabled-text-color)
  --btn-disabled-border-color: var(--disabled-border-color)

  --btn-large-padding: 0 16px
  --btn-large-height: 36px
  --btn-large-font-size: 16px

  --btn-normal-padding: 0 14px
  --btn-normal-height: 32px
  --btn-normal-font-size: 14px

  --btn-small-padding: 0 8px
  --btn-small-height: 28px
  --btn-small-font-size: 14px

  --btn-mini-padding: 0 4px
  --btn-mini-height: 24px
  --btn-mini-font-size: 12px

.ez-button
  color: var(--color-primary)
  font-size: 16px
  outline: none
  border: none
  border-radius: var(--btn-border-radiud)
  cursor: pointer
  white-space: nowrap
  position: relative

  &:hover
    opacity: 0.8

  &__content
    display: flex
    align-items: center
    flex-wrap: wrap

  &--default
    color: inherit
    background-color: var(--btn-default-color)

  &--primary
    color: #fff
    background-color: var(--btn-primary-color)

  &--success
    color: #fff
    background-color: var(--btn-success-color)

  &--danger
    color: #fff
    background-color: var(--btn-danger-color)

  &--warning
    color: #fff
    background-color: var(--btn-warning-color)

  &--large
    padding: var(--btn-large-padding)
    height: var(--btn-large-height)
    font-size: var(--btn-large-font-size)

  &--normal
    padding: var(--btn-normal-padding)
    height: var(--btn-normal-height)
    font-size: var(--btn-normal-font-size)

  &--small
    padding: var(--btn-small-padding)
    height: var(--btn-small-height)
    font-size: var(--btn-small-font-size)

  &--mini
    padding: var(--btn-mini-padding)
    height: var(--btn-mini-height)
    font-size: var(--btn-mini-font-size)

  &--rounded
    border-radius: 50%

  &--disabled
    cursor: not-allowed
    background-color: var(--btn-disabled-color)
    color: var(--btn-disabled-text-color)
    border-color: var(--btn-disabled-border-color)
    &:hover
      opacity: 1
