
:root 
  --color-primary: #0099DD
  --color-danger: #F24405
  --color-warning: #FA7F08
  --color-success: #03A64A
  --color-text: #000B0D

.ez
  &--box
    box-sizing: border-box

    *
      box-sizing: border-box

  &--relative
    position: relative

  &--absolute
    position: absolute

  &--hidden
    display: none

  &--block
    display: block

  &--inline-block
    display: inline-block

  &--inline
    display: inline

  &--flex
    display: flex

  &--ellipsis
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap